.icon-share-twitter {
    background-image: url('./mods/social_share/images/icon-twitter.png');
}

.icon-share-facebook {
    background-image: url('./mods/social_share/images/icon-facebook.png');
}

.icon-share-google-plus {
    background-image: url('./mods/social_share/images/icon-google-plus.png');
}

